.timeline-logoentreprise{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:60px;
  height:60px;
}
.card-info{
  box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
  border-radius: .25rem;
  background: #fff;
  margin-bottom: 1rem;
  min-height: 80px;
  padding: .5rem;
  position: relative;
  width: 100%;
}
.box-btn{
  text-align: center;
}
.show-btn-post{
  text-align: center;
}
.btn-post-offre{
  font-size: 20px;
}
.center-align{
  text-align: center;
}
@media (max-width: 700px){
  .table thead {
    display: none;
  }

  .table tr{
    display: block;
    margin-bottom: 10px;
  }

  .table td {
    display: block;
    text-align: center;
  }

}
.overlay-600{
  overflow:auto;
  height: 650px;

}
